.contact-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
   
}

.contact-form__header {
    @media screen and (max-width: 480px) {
        font-size: 18px;
    }
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 12px;
}

.contact-form__input-holder {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.contact-form__input {
    @media screen and (max-width: 480px) {
        height: 30px;
    }
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: rgba(33, 33, 33, 0.2) 1px solid;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 42px;

    &:focus{
        outline-color: var(--accent-color);
    }
}

.contact-form__icon {
    fill: var(--secondary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-form__input:focus+.contact-form__icon {
    fill: var(--accent-color);
}

.txt-area {
    @media screen and (max-width: 480) {
        height: 100px;
    }
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
}

.txt-area::placeholder {
    color: #75757580;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

label {
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 4px;
}

.contact-form__icon {
    display: block;
    fill: var(--secondary-text-color);
    height: 18px;
    width: 18px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.contact-form__accept-rules {
    @media screen and (max-width: 480px) {
        margin-bottom: 15px;
        flex-wrap: wrap;
        font-size: 8px;
    }
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 11px;
    line-height: 1.17;
}

.contact-form__custom-checkbox {
    width: 16px;
    height: 16px;
    fill: var(--white-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;
}

.contact-form__checkbox:checked+.contact-form__accept-rules>.contact-form__custom-checkbox {
    background-color: var(--accent-color);
    border-color: transparent;
}

.contact-form__checkbox:focus+.contact-form__accept-rules>.contact-form__custom-checkbox {
    outline: 2px solid var(--accent-color);
}

.contact-form__terms {
    color: var(--accent-color)
}

.contact-form__btn-send {
    padding: 10px 56px;
    align-self: center;
    line-height: 1.86;
}