.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: var(--white-color);
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    @media screen and (min-width: 1200px) {
        width: 528px
        
    }
}

.modal__close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    border: #0000001A 1px solid;
    cursor: pointer;
    padding: 8px;
}
.modal__close-svg {
    height: 18px;
    width: 18px;
    cursor: pointer;

    .modal__close-btn:hover &,
    .modal__close-btn:focus &{
        fill: var(--accent-color);
    }
}
.icon-close {
    fill: #000000;
}