:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --accent-color-hover: #188CE8;
    --white-color: #ffffff;
    --white-semitransparent: rgba(255, 255, 255, 0.6);
    --grey-semitransparent: rgba(33, 33, 33, 0.2);
    --background-color-primary: #ffffff;
    --background-color-secondary: #F5F4FA;
    --background-tertiary: #2F303A;
    --header-border-bottom-color: #ECECEC;
    --card-border-color: #eeeeee;
    --svg-icons-grey: #AFB1B8;
    --advantages-icons-background: #F5F4FA;
    

    --font-raleway: 'Raleway', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}
