.header {
    border-bottom: 1px solid var(--header-border-bottom-color);
    
    @media screen and (max-width: 767px) {
        position: relative;
    }
}
.container_header {

     @media screen and (max-width: 7687px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
}