.section_dark {
    background-color: var(--background-color-secondary);
   
}

.team-list {
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }

}

.team-list__item {
    background-color: var(--background-color-primary);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(46, 16, 16, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width:450px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 2);
        margin-left: 30px;
        margin-top: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 120px) / 4);
    }

}
.team-list__info {
    padding: 30px 32px;
    text-align: center;
}

.team-list__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.17em;
    color: var(--secondary-text-color);
}
.team-list__occupation {
    margin: 0 0 16px 0;
    font-size: 16px;
}